
DATA/

*.npz

*.png

*.json
*.pdf

Video/subject_intersection

Video/good_naive_sessions

IBL_IDEA/Anonymous IBL Survey 2022.csv

IBL_IDEA/Anonymous IBL Survey 2023.csv

IBL_IDEA/Anonymous IBL Survey 2024.csv

IBL_IDEA/Consortium Member List - Full List.csv

*.svg

*.pkl

Exported figures/COSYNE25/UMAP_grey

Video and wheel/Video QC/dlc_left_extended_lick

Video and wheel/Video QC/dlc_left_extended_qc

Video and wheel/Video QC/dlc_left_extended_lick01-03-2025

Video and wheel/Video QC/dlc_left_extended_qc01-03-2025

Models/Sub-trial/4_analyses/states_trial_type01-04-2025

Exported figures/ballistic

Exported figures/correct

Exported figures/elongation

Exported figures/reaction

Exported figures/response

Exported figures/UMAP_grey

Video and wheel/Video QC/to_delete_when_brave_enough/good_brainwide_sessions

Video and wheel/Video QC/to_delete_when_brave_enough/good_brainwide_sessions_metadata

Video and wheel/Video QC/to_delete_when_brave_enough/good_dlc_bwm_sessions_metadata

Video and wheel/Video QC/to_delete_when_brave_enough/good_naive_sessions

Video and wheel/Video QC/to_delete_when_brave_enough/subject_intersection

Video and wheel/good_brainwide_sessions

Video and wheel/good_brainwide_sessions_metadata

Video and wheel/good_dlc_bwm_sessions_metadata

Video and wheel/good_naive_sessions

Video and wheel/subject_intersection

Video and wheel/Video QC/custom_qc01-07-2025

Video and wheel/Video QC/to_delete_when_brave_enough/dlc_left_extended_lick

Video and wheel/Video QC/to_delete_when_brave_enough/dlc_left_extended_qc

Models/Sub-trial/3_postprocess_results/mouse_movements_df01-08-2025

Models/Sub-trial/3_postprocess_results/states_trial_type01-08-2025

Models/Sub-trial/4_analyses/cluster_per_mouse01-09-2025

Models/Sub-trial/4_analyses/cluster_per_trial01-08-2025

Models/Sub-trial/4_analyses/cluster_per_trial01-09-2025

Video and wheel/Video QC/to_delete_when_brave_enough/good_qc_eids01-07-2025.npy

Models/Maths intuitions/Wavelets/supersession_wavelets02-17-2025

Models/Maths intuitions/Wavelets/all_cluster_features02-18-2025

Models/Maths intuitions/Wavelets/centroids_supersession_wavelets_k_402-18-2025

Models/Maths intuitions/Wavelets/centroids_supersession_wavelets_k_302-18-2025

Models/Maths intuitions/Wavelets/LLs_GMM_1_11_components02-18-2025

Models/Sub-trial/2_fit_models/Wavelets/all_cluster_features02-18-2025

Models/Sub-trial/2_fit_models/Wavelets/centroids_supersession_wavelets_k_302-18-2025

Models/Sub-trial/2_fit_models/Wavelets/centroids_supersession_wavelets_k_402-18-2025

Models/Sub-trial/2_fit_models/Wavelets/centroids_supersession_wavelets_k_402-21-2025

Models/Sub-trial/2_fit_models/Wavelets/LLs_GMM_1_11_components02-18-2025

Models/Sub-trial/2_fit_models/Wavelets/supersession_wavelets02-17-2025

Models/Sub-trial/3_postprocess_results/states_trial_type02-21-2025

Models/Sub-trial/4_analyses/2_Trial_epoch/count02-25-2025

Models/Sub-trial/4_analyses/2_Trial_epoch/decoding_frequency02-25-2025

Models/Sub-trial/4_analyses/2_Trial_epoch/decoding_sequence_timing02-25-2025

Models/Sub-trial/4_analyses/2_Trial_epoch/unique_state02-26-2025

Models/Sub-trial/4_analyses/2_Trial_epoch/timing02-25-2025

Models/Sub-trial/4_analyses/2_Trial_epoch/decoding_sequence02-25-2025

Models/Sub-trial/4_analyses/old_data/design_matrix_trial_clustering_03-09-2025

Models/Sub-trial/3_postprocess_results/old_data/distance_matrix_correct 0.125 0.5 right03-05-2025

Models/Sub-trial/3_postprocess_results/old_data/epoch_sequences_03-03-2025

Models/Sub-trial/3_postprocess_results/old_data/mouse_movements_df01-08-2025

Models/Sub-trial/3_postprocess_results/old_data/states_trial_type02-28-2025

Models/Sub-trial/3_postprocess_results/old_data/states_trial_type01-08-2025

Models/Sub-trial/3_postprocess_results/old_data/epoch_sequences_10_03-09-2025

Models/Sub-trial/3_postprocess_results/old_data/epoch_full_sequences_03-04-2025

Models/Sub-trial/3_postprocess_results/old_data/states_trial_type03-09-2025

Models/Sub-trial/3_postprocess_results/states_trial_type03-11-2025

Models/Sub-trial/4_analyses/1_HMM_states/epoch_sequences_10_03-11-2025

Models/Sub-trial/4_analyses/old_data/cluster_per_mouse01-09-2025

Models/Sub-trial/4_analyses/old_data/cluster_per_mouse_no_timing503-11-2025

Models/Sub-trial/4_analyses/old_data/cluster_per_trial01-09-2025

Models/Sub-trial/4_analyses/old_data/design_matrix_trial_clustering_03-03-2025

Models/Sub-trial/4_analyses/entropy03-13-2025

Models/Sub-trial/4_analyses/entropy03-12-2025

Models/Sub-trial/4_analyses/cluster_per_session_part_filtered03-14-2025

Models/Sub-trial/4_analyses/cluster_per_mouse_no_timing03-11-2025

Models/Sub-trial/4_analyses/cluster_per_session_part03-12-2025

Models/Sub-trial/4_analyses/cluster_per_session03-11-2025

Models/Sub-trial/4_analyses/cluster_per_trial_part_info03-12-2025

Models/Sub-trial/4_analyses/cluster_per_trial_no_timing03-11-2025

Models/Sub-trial/4_analyses/cluster_per_session_part03-19-2025

Models/Sub-trial/4_analyses/cluster_per_trial_no_timing03-19-2025

Models/Sub-trial/4_analyses/cluster_per_trial_part_info03-19-2025

Models/Sub-trial/4_analyses/cluster_per_session_part03-21-2025

Models/Sub-trial/4_analyses/cluster_per_trial_part_info03-21-2025

Models/Sub-trial/4_analyses/entropy03-21-2025
Models/Sub-trial/4_analyses/cluster_per_session

Models/Sub-trial/4_analyses/cluster_per_session_dendogram05-15-2025
Models/Sub-trial/4_analyses/6_Mouse_decoding/metadata
Models/Sub-trial/4_analyses/cluster_per_session_dendogram
Models/Sub-trial/4_analyses/cluster_per_session_dendogram06-12-2025
Models/Sub-trial/4_analyses/metadata05-29-2025
Video and wheel/Video QC/extended_qc
Video and wheel/Video QC/extended_qc07-08-2025
Video and wheel/Video QC/extended_qc07-10-2025
Video and wheel/Video QC/final_lp_qc07-09-2025
Video and wheel/Video QC/final_lp_qc07-10-2025

Models/Sub-trial/4_analyses/6_Mouse_decoding/decoding_results_200_reps06-11-2025

Models/Sub-trial/4_analyses/8_Learning_speed/model_comparison_significance06-25-2025

Models/Sub-trial/4_analyses/1_HMM_states/epoch_seq_wheel_10_07-04-2025

paper-individuality/1_bwm_qc_07-10-2025

Video and wheel/Video QC/sessions_LP_ines

Video and wheel/Video QC/DLC vs LP/reconstructed_camLeft

Video and wheel/Video QC/DLC vs LP/reconstructed_camRight

Video and wheel/Video QC/DLC vs LP/rightCamera_keypoints

Functions/p2ds.npy

Models/Sub-trial/2_fit_models/Wavelets/supersession_wavelets08-20-2025

Models/Sub-trial/2_fit_models/Wavelets/supersession_wavelets_paw09-02-2025

Video and wheel/Video QC/DLC vs LP/leftCamera_keypoints

Video and wheel/Behavioral variables/Paw/pts_array_2d.npy

Models/Sub-trial/2_fit_models/Wavelets/supersession_wavelets_paw09-03-2025

*.npy

Models/Sub-trial/2_fit_models/Wavelets/supersession_wavelets09-09-2025

paper-individuality/0_pre-processing/1_bwm_qc_07-10-2025
paper-individuality/data

paper-individuality/fig1_segmentation/states_trial_type_09-22-2025

paper-individuality/fig1_segmentation/all_sequences_09-22-2025

paper-individuality/0_pre-processing/supersession_wavelets_paw09-12-2025
paper-individuality/fig3_learning_prediction/training_time_23-09-2025
paper-individuality/fig1_segmentation/supersession_wavelets_paw09-11-2025

paper-individuality/fig1_segmentation/all_sequences_5k_09-24-2025

paper-individuality/fig1_segmentation/states_trial_type_5k_09-24-2025

paper-individuality/0_pre-processing/supersession_wavelets_wheel09-25-2025

paper-individuality/fig1_segmentation/all_sequences_5_09-22-2025

paper-individuality/fig1_segmentation/all_sequences_wheel_09-29-2025

paper-individuality/fig1_segmentation/epoch_sequences_10_03-11-2025

paper-individuality/fig1_segmentation/states_trial_type_wheel_09-29-2025

paper-individuality/fig1_segmentation/all_sequences_09-29-2025

paper-individuality/fig1_segmentation/states_trial_type_09-29-2025
paper-individuality/fig4_clustering/cluster_per_session
