
DATA/

*.npz

*.png

*.json
*.pdf

Video/subject_intersection

Video/good_naive_sessions

IBL_IDEA/Anonymous IBL Survey 2022.csv

IBL_IDEA/Anonymous IBL Survey 2023.csv

IBL_IDEA/Anonymous IBL Survey 2024.csv

IBL_IDEA/Consortium Member List - Full List.csv

*.svg

*.pkl

Exported figures/COSYNE25/UMAP_grey

Video and wheel/Video QC/dlc_left_extended_lick

Video and wheel/Video QC/dlc_left_extended_qc

Video and wheel/Video QC/dlc_left_extended_lick01-03-2025

Video and wheel/Video QC/dlc_left_extended_qc01-03-2025

Models/Sub-trial/4_analyses/states_trial_type01-04-2025

Exported figures/ballistic

Exported figures/correct

Exported figures/elongation

Exported figures/reaction

Exported figures/response

Exported figures/UMAP_grey

Video and wheel/Video QC/to_delete_when_brave_enough/good_brainwide_sessions

Video and wheel/Video QC/to_delete_when_brave_enough/good_brainwide_sessions_metadata

Video and wheel/Video QC/to_delete_when_brave_enough/good_dlc_bwm_sessions_metadata

Video and wheel/Video QC/to_delete_when_brave_enough/good_naive_sessions

Video and wheel/Video QC/to_delete_when_brave_enough/subject_intersection

Video and wheel/good_brainwide_sessions

Video and wheel/good_brainwide_sessions_metadata

Video and wheel/good_dlc_bwm_sessions_metadata

Video and wheel/good_naive_sessions

Video and wheel/subject_intersection

Video and wheel/Video QC/custom_qc01-07-2025

Video and wheel/Video QC/to_delete_when_brave_enough/dlc_left_extended_lick

Video and wheel/Video QC/to_delete_when_brave_enough/dlc_left_extended_qc

Models/Sub-trial/3_postprocess_results/mouse_movements_df01-08-2025

Models/Sub-trial/3_postprocess_results/states_trial_type01-08-2025

Models/Sub-trial/4_analyses/cluster_per_mouse01-09-2025

Models/Sub-trial/4_analyses/cluster_per_trial01-08-2025

Models/Sub-trial/4_analyses/cluster_per_trial01-09-2025

Video and wheel/Video QC/to_delete_when_brave_enough/good_qc_eids01-07-2025.npy

Models/Maths intuitions/Wavelets/supersession_wavelets02-17-2025

Models/Maths intuitions/Wavelets/all_cluster_features02-18-2025

Models/Maths intuitions/Wavelets/centroids_supersession_wavelets_k_402-18-2025

Models/Maths intuitions/Wavelets/centroids_supersession_wavelets_k_302-18-2025

Models/Maths intuitions/Wavelets/LLs_GMM_1_11_components02-18-2025
