
DATA/

*.npz

*.png

*.json
*.pdf

Video/subject_intersection

Video/good_naive_sessions

IBL_IDEA/Anonymous IBL Survey 2022.csv

IBL_IDEA/Anonymous IBL Survey 2023.csv

IBL_IDEA/Anonymous IBL Survey 2024.csv

IBL_IDEA/Consortium Member List - Full List.csv

*.svg

*.pkl
